NET Q0 LOC = "M5";
NET Q1 LOC = "M11";
NET Q2 LOC = "P7";
NET Q3 LOC = "P6";
NET Cout LOC = "N5";

NET A0 LOC = "P11";
NET A1 LOC = "L3";
NET A2 LOC = "K3";
NET A3 LOC = "B4";
NET B0 LOC = "G3";
NET B1 LOC = "F3";
NET B2 LOC = "E2";
NET B3 LOC = "N3";
