NET q[0] LOC = "M5";
NET q[1] LOC = "M11";
NET q[2] LOC = "P7";
NET q[3] LOC = "P6";
NET Cout LOC = "N5";

NET a[0] LOC = "P11";
NET a[1] LOC = "L3";
NET a[2] LOC = "K3";
NET a[3] LOC = "B4";
NET b[0] LOC = "G3";
NET b[1] LOC = "F3";
NET b[2] LOC = "E2";
NET b[3] LOC = "N3";
